# Зависимости
node_modules/
**/node_modules/

# Сборка
dist/
build/
**/dist/
**/build/

# База данных 
*.db
*.sqlite
*.sqlite3

# Переменные окружения
.env
.env.local
.env.*.local

# Логи
*.log
npm-debug.log*

# IDE / редакторы
.vscode/
.idea/
*.swp

# OS-специфичные файлы
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo